@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
	min-height: 100vh;
	background-color: #e0e8ff;
	background-image: url(../images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	font-family: "Red Hat Display", sans-serif;
	align-items: center;
}

.card {
	width: 450px;
	height: 697px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	filter: drop-shadow(0px 40px 40px rgba(13, 48, 189, 0.151826));
}
.card__image {
	height: 220px;
	border-radius: 20px 20px 0 0;
}

.card__info {
	height: 477px;
	background-color: #ffffff;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 20px 20px;
	justify-content: flex-start;
	padding: 0 48px;
}

.card__title {
	font-size: 1.8rem;
	font-weight: 900;
	margin: 45px 0 17px 0;
	line-height: 37px;
	color: #1f2e55;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__text {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #717fa6;
	margin: 0 0 20px 0;
}

.plan-card {
	height: 98px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #f7f9ff;
	padding: 25px 24px;
	border-radius: 11px;
	margin-bottom: 32px;
}

.plan-card__logo {
	height: 48px;
}
.plan-card__type {
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-left: 20px;
}
.plan-card__plan-name {
	font-size: 1rem;
	font-weight: 900;
	line-height: 21.17px;
	color: #1f2e55;
}
.plan-card__plan-price {
	font-size: 1rem;
	font-weight: 500px;
	line-height: 21px;
	color: #717fa6;
}

.plan-card__change {
	font-size: 14px;
	font-weight: 700px;
	color: #382ae1;
	line-height: 19px;
	text-decoration: underline;
}

.plan-card__change:active {
	color: #766cf1;
	text-decoration-line: none;
}

.card__btn {
	min-height: 50px;
	border: none;
	background-color: #382ae1;
	box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.19);
	color: #ffffff;
	border-radius: 11px;
	font-size: 15px;
	font-weight: 900;
	line-height: 19.85px;
	font-family: "Red Hat Display", sans-serif;
}

.card__btn:active {
	background-color: #766cf1;
}

.card__btn:hover {
	cursor: pointer;
}

.card__cancel {
	font-size: 15px;
	font-weight: 900;
	line-height: 20px;
	color: #717fa6;
	margin-top: 32px;
	margin-bottom: 48px;
}

.card__cancel:active {
	color: #1f2e55;
}
